name: Check everything

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * *

env:
  FORCE_COLOR: "1"

jobs:
  checks:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Set up Dependencies
        run: |
          brew install llvm@18
          echo "/opt/homebrew/opt/llvm@18/bin" >> "$GITHUB_PATH"

      - name: Set up Odin
        run: |
          git clone https://github.com/odin-lang/Odin.git --depth 1 --single-branch --branch=master
          cd Odin
          make
          echo "$(pwd)" >> "$GITHUB_PATH"
          ./odin report

      - name: Check everything
        run: |
          FLAGS="-vet -strict-style -vet-tabs -disallow-do -warnings-as-errors"

          odin check absolute_beginners $FLAGS

          odin check command_line_arguments $FLAGS
          odin check dir_info $FLAGS
          odin check dynamic_arrays $FLAGS
          odin check strings $FLAGS

          odin check console/raw_console $FLAGS
          odin check console/raw_console -target:windows_amd64 $FLAGS
          odin check console/read_console_input $FLAGS

          odin check arena_allocator $FLAGS

          odin check directx/d3d12_triangle_sdl2 -target:windows_amd64 $FLAGS

          odin check glfw/window $FLAGS

          odin check json/load_json $FLAGS
          odin check json/load_json_unmarshal $FLAGS
          odin check json/write_json_marshal $FLAGS

          odin check thread/basics $FLAGS
          odin check thread/sync_mutex $FLAGS

          odin check math/noise/draw_texture $FLAGS
          odin check math/rand/markov $FLAGS

          odin check raylib/game_of_life $FLAGS
          odin check raylib/log $FLAGS
          odin check raylib/microui $FLAGS
          odin check raylib/ports/shaders/shaders_mesh_instancing.odin -file $FLAGS
          odin check raylib/ports/shapes/shapes_basic_shapes.odin -file $FLAGS
          odin check raylib/ports/shapes/shapes_bouncing_ball.odin -file $FLAGS
          odin check raylib/ports/shapes/shapes_colors_palette.odin -file $FLAGS
          odin check raylib/ports/shapes/shapes_logo_raylib_anim.odin -file $FLAGS
          odin check raylib/ports/text/text_codepoints_loading.odin -file $FLAGS
          odin check raylib/ports/textures/textures_gif_player.odin -file $FLAGS
          odin check raylib/tetroid $FLAGS

          odin check directx/d3d11_minimal_sdl2 -target:windows_amd64 $FLAGS

          odin check opengl/minimal_sdl2 $FLAGS

          odin check vulkan/triangle_glfw $FLAGS

          odin check metal/minimal_sdl2 $FLAGS

          odin check metal/learn_metal/00-window $FLAGS
          odin check metal/learn_metal/01-primitive $FLAGS
          odin check metal/learn_metal/02-argbuffers $FLAGS
          odin check metal/learn_metal/02-argbuffers-no-sdl $FLAGS
          odin check metal/learn_metal/03-animation $FLAGS
          odin check metal/learn_metal/04-instancing $FLAGS
          odin check metal/learn_metal/05-perspective $FLAGS
          odin check metal/learn_metal/06-lighting $FLAGS
          odin check metal/learn_metal/07-texturing $FLAGS
          odin check metal/learn_metal/08-compute $FLAGS
          odin check metal/learn_metal/09-compute-to-render $FLAGS

          odin check sdl2/chase_in_space $FLAGS
          odin check sdl2/hellope $FLAGS
          odin check sdl2/microui $FLAGS

          odin check simd/approaches $FLAGS
          odin check simd/basic-sum $FLAGS
          odin check simd/motion $FLAGS

          odin check slices/prefer_to_pass_slices $FLAGS

          odin check wasm/js_wasm32 $FLAGS

          odin check wgpu/microui -target:windows_amd64 $FLAGS
          odin check wgpu/microui -target:js_wasm32 $FLAGS

          odin check win32/game_of_life -target:windows_amd64 $FLAGS
          odin check win32/open_window -target:windows_amd64 $FLAGS

          odin check nanovg/example.odin -file $FLAGS
          odin check nanovg/fbo.odin -file $FLAGS

          odin check orca/breakout -target:orca_wasm32 $FLAGS
          odin check orca/clock -target:orca_wasm32 $FLAGS
          odin check orca/ui -target:orca_wasm32 $FLAGS

          odin check net/tcp_echo_server/client $FLAGS
          odin check net/tcp_echo_server/server $FLAGS
