
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

#define IDI_ICON1                       101

#define Q(x) #x
#define QUOTE(x) Q(x)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "https://github.com/odin-lang/examples/"
            VALUE "FileDescription", "Game of Life"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "game_of_life.exe"
            VALUE "LegalCopyright", "Copyright (c) 2024"
            VALUE "OriginalFilename", "game_of_life.exe"
            VALUE "ProductName", "Odin Examples - Game of Life"
            VALUE "ProductVersion", "0.1.0.0"
            VALUE "Comments", "This example shows a simple setup for a game with Input processing, updating game state and drawing game state to the screen using Win32."
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

IDI_ICON1   ICON    "..\\emblem.ico"
